h1{
  background-image: url("/Users/Alex/Documents/Dasmoto arts & crafts/Title background image.jpeg");
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

#brushes{
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#frames{
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;

}
#paint{
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#priceing{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
